#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PODDOC=debget dglob dgrep dpigs

%:
	dh $@

override_dh_auto_install:
	for prog in $(PODDOC); do pod2man -c "Debian-goodies documentation" $$prog.pod > $$prog.1; done
	help2man -N -m "Debian-goodies documentation" -o check-enhancements.1 ./check-enhancements

override_dh_auto_clean:
	for prog in $(PODDOC); do rm -f $$prog.1; done
